* {
  box-sizing: border-box; }

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black; }

#clock {
  font-size: 6rem;
  color: white;
  text-align: center;
  font-weight: 100;
  text-align: center;
  margin: 23% 0; }
